/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f7ed;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Navbar */
.navbar {
    width: 200px;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

.navbar a:hover {
    font-weight: bold; /* Bold font on hover */
}

/* Main Content */
.main-content {
    margin-left: 250px; /* Adjust for the navbar width and add space */
    padding: 20px;
}

h1 {
    color: #2d572c;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
select {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1em;
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2E7D32;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Search and Refresh Form */
.search-refresh-form {
    display: flex;
    gap: 10px;
}
